<!-- Add Bootstrap classes to your HTML elements -->
<div class="container">
    <h2>Thêm nhân viên</h2>
  
    <form #addItemForm="ngForm" (ngSubmit)="addNewItem(addItemForm.value)" class="needs-validation" novalidate>
      
  
      <div class="form-group">
        <label for="Tennhanvien">Tên nhân viên:</label>
        <input type="text" id="Tennhanvien" name="Tennhanvien" ngModel class="form-control" required>
      </div>
  
  
    
  
      <div class="form-group">
        <label for="Ngaysinh">Ngày sinh:</label>
        <input type="datetime" id="Ngaysinh" name="Ngaysinh" ngModel class="form-control" required>
      </div>
  
    
  
      <div class="form-group">
        <label for="Sdt">Số điện thoại:</label>
        <input type="number" id="Sdt" name="Sdt" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="Diachi">Địa chỉ:</label>
        <input type="text" id="Diachi" name="Diachi" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" ngModel class="form-control" required>
      </div>
  
  
      <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
    </form>
  </div>
  