<!-- <h2>Edit Item</h2>


<form #editItemForm="ngForm" (ngSubmit)="editItem(editItemForm.value.id, editItemForm.value.Tenloai)">
  <label for="id">Item ID:</label>
  <input type="number" id="id" name="id" [(ngModel)]="category.id" required>

  <label for="Tenloai">New Item Name:</label>
  <input type="text" id="Tenloai" name="Tenloai" [(ngModel)]="category.Tenloai" required>

  <button type="submit">Edit Item</button>
</form> -->
<div class="container">
  <h2>Sửa loại xe máy</h2>

  <form #editItemForm="ngForm" (ngSubmit)="editItem(editItemForm.value.id, editItemForm.value.Tenloai)" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="id"> ID:</label>
      <input type="number" id="id" name="id" [(ngModel)]="category.id" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="Tenloai">Tên loại:</label>
      <input type="text" id="Tenloai" name="Tenloai" [(ngModel)]="category.Tenloai" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Sửa loại</button>
  </form>
</div>
