
<style>

    #logoutBtn {
        margin-left: 750px;
        margin-top: -33px;
        font-size: 10px;
        opacity: 0; /* Ẩn nút Logout ban đầu */
        transition: opacity 0.3s ease; /* Thêm hiệu ứng transition */
    }
  
    #logoutBtn:hover {
        opacity: 1; /* Hiển thị nút Logout khi hover */
    }
  </style>
  
  <div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6">
            <button id="logoutBtn" class="btn btn-primary btn-lg" (click)="logout()">Logout</button>
        </div>
    </div>
  </div>
  <div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
              
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Thống kê doanh thu</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" *ngFor="let item of subjects | keyvalue">
                                            <div  class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                               Doanh thu hôm nay</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formatCurrency(totalRevenue) }}VNĐ</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Doanh thu tháng này</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formatCurrency(totalRevenuemon) }}VNĐ</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                               Doanh thu năm nay</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formatCurrency(totalRevenueyear) }} VNĐ</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      

                          <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                      Doanh thu chọn
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formatCurrency(totalRevenuechoose) }} VNĐ</div>
                                    <div class="mt-3">
                                        <label for="selectYear">Chọn năm:</label>
                                        <select id="selectYear" [(ngModel)]="selectedYear" (change)="onYearChange()" class="form-control">
                                          <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                                        </select>
                                      </div>
                                      
                                      <div class="mt-3">
                                        <label for="selectMonth">Chọn tháng:</label>
                                        <select id="selectMonth" [(ngModel)]="selectedMonth" (change)="onMonthChange()" class="form-control">
                                          <option *ngFor="let month of availableMonths" [value]="month">{{ month }}</option>
                                        </select>
                                      </div>
                                      
                                      <div class="mt-3">
                                        <label for="selectDay">Chọn ngày:</label>
                                        <select id="selectDay" [(ngModel)]="selectedDay" (change)="onDayChange()" class="form-control">
                                          <option *ngFor="let day of availableDays" [value]="day">{{ day }}</option>
                                        </select>
                                      </div>
                                      
                                      <!-- <div class="mt-3">
                                        <button id="totalRevenue" class="btn btn-primary" (click)="fetchStatistics()">Thực hiện thống kê</button>
                                      </div> -->
                                  </div>
                                  <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                     Sản phẩm bán chạy
                                    </div>
                                    <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formatCurrency(totalRevenuechoose) }} VNĐ</div> -->
                                    <div class="mt-3">
                                      <label for="selectYear">Chọn năm:</label>
                                      <select id="selectYear" [(ngModel)]="selectedYear" (change)="onYearChange()" class="form-control">
                                        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                                      </select>
                                    </div>
                                    
                                    <div class="mt-3">
                                      <label for="selectMonth">Chọn tháng:</label>
                                      <select id="selectMonth" [(ngModel)]="selectedMonth" (change)="onMonthChange()" class="form-control">
                                        <option *ngFor="let month of availableMonths" [value]="month">{{ month }}</option>
                                      </select>
                                    </div>
                                    
                                    <div class="mt-3">
                                      <label for="selectDay">Chọn ngày:</label>
                                      <select id="selectDay" [(ngModel)]="selectedDay" (change)="onDayChange()" class="form-control">
                                        <option *ngFor="let day of availableDays" [value]="day">{{ day }}</option>
                                      </select>
                                    </div>
                                    
                                    <!-- Danh sách sản phẩm bán chạy nhất -->
                                    <div class="mt-3">
                                      <h5 class="font-weight-bold">Sản phẩm bán chạy nhất</h5>
                                      <ul class="list-group">
                                        <li *ngFor="let product of bestSellers" class="list-group-item">
                                          {{ product.Tensanpham }} - {{ product.total_sold }}
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
   