<section class="top_catagory_area d-md-flex clearfix">
    <!-- Single Catagory -->
    <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url(../assets/img/xe2.png);">
        <div class="catagory-content">
            <h6>Trên Shoppe</h6>
            <h2>Giảm giá 20%</h2>
            <a href="#" class="btn karl-btn">Mua Ngay</a>
        </div>
    </div>
    <!-- Single Catagory -->
    <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url(../assets/img/xe16.png);">
        <div class="catagory-content">
            <h6>Xe mới trong năm</h6>
            <h2>Xe motor</h2>
            <a href="#" class="btn karl-btn">Mua Ngay</a>
        </div>
    </div>
</section>
<!-- ****** Top Catagory Area End ****** -->

<!-- ****** Quick View Modal Area Start ****** -->
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

           
        </div>
    </div>
</div>
<!-- ****** Quick View Modal Area End ****** -->

<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Hàng mới về</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
            <button class="btn active" data-filter="*">ALL</button>
            <button class="btn" data-filter=".women">XE SỐ</button>
            <button class="btn" data-filter=".kids">XE TAY GA</button>
            <button class="btn" data-filter=".access">XE CÔN TAY</button>
            <button class="btn" data-filter=".shoes">XE MÔ TÔ</button>
            
        </div>
    </div> -->
    <div class="container">
        <div class="row karl-new-arrivals">
            <!-- Single gallery Item Start -->
            <!-- Single gallery Item Start -->
            <div  class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" *ngFor="let item of subjects| paginate: { itemsPerPage: 9, currentPage: p }" data-wow-delay="0.3s"  >
                <!-- Product Image -->
                <div class="product-img">
                    <img src="../assets/img/{{item.Anh}}" alt="">
                    <!-- <div class="product-quicview">
                        <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                    </div> -->
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{ formatCurrency(item.Gia) }} VNĐ</h4>
                    <div (click)="redirectToDetailPage(item)" [innerHTML]="item.Tensanpham"></div>
                    <!-- <p (click)="redirectToDetailPage(item)">{{ item.Tensanpham }}</p> -->
                    <!-- Add to Cart -->
                    <a style="cursor: pointer;"   class="add-to-cart-btn" (click)="addToCart(item)" (click)="refreshPage()">THÊM VÀO GIỎ HÀNG</a>
                </div>
            </div>  
                   
        </div>
       
        
        <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
    </div>



    
   
</section>
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Sản phẩm nhiều lượt xem</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row karl-new-arrivals">
            <!-- Single gallery Item Start -->
            <!-- Single gallery Item Start -->
            <div  class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" *ngFor="let item of subjectss" data-wow-delay="0.3s"  >
                <!-- Product Image -->
                <div class="product-img">
                    <img src="../assets/img/{{item.Anh}}" alt="">
                    <!-- <div class="product-quicview">
                        <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                    </div> -->
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{ formatCurrency(item.Gia) }} VNĐ</h4>
                    <div (click)="redirectToDetailPage(item)" [innerHTML]="item.Tensanpham"></div>
                    <!-- <p (click)="redirectToDetailPage(item)">{{ item.Tensanpham }}</p> -->
                    <!-- Add to Cart -->
                    <a style="cursor: pointer;"   class="add-to-cart-btn" (click)="addToCart(item)" (click)="refreshPage()">THÊM VÀO GIỎ HÀNG</a>
                </div>
            </div>  
                   
        </div>
       
        
        
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->

<!-- ****** Offer Area Start ****** -->
<section class="offer_area height-700 section_padding_100 bg-img" style="background-image: url(../assets/img/CB150R\ THE\ STREETSTER.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-end justify-content-end">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                    <h2>CB150R The Streetster<span class="karl-level">Hot</span></h2>
                    <p>*Miễn phí vận chuyển từ ngày 18/9/2022</p>
                    <div class="offer-product-price">
                        <h3><span class="regular-price">105.500.000 VNĐ</span>100.500.000 VNĐ</h3>
                    </div>
                    <a href="#" class="btn karl-btn mt-30">Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Offer Area End ****** -->

<!-- ****** Popular Brands Area Start ****** -->
<!-- <section class="karl-testimonials-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>ĐÁNH GIÁ</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="karl-testimonials-slides owl-carousel">

                  
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Sản phẩm này rất tốt! </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Đào Nhật Việt</p>
                                <span>Kim Động-Hưng Yên</span>
                            </div>
                        </div>
                    </div>

                  
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Rất đáng tiền!!</h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Nguyễn Thế Dũng</p>
                                <span>Yên Mỹ-Hưng Yên</span>
                            </div>
                        </div>
                    </div>

                  
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Sẽ quay lại mua thêm!</h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="../assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Nguyễn Thị Thu</p>
                                <span>Phù Cừ - Hưng Yên</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section> -->