<div class="container">
    <div class="row">
        <div class="col-xs-12" *ngFor="let item of dh">
    		<div class="invoice-title">
    			<h2></h2><h3 class="pull-right">Đơn hàng của {{item.Hoten}} </h3>
    		</div>
    		<hr>
    		<div class="row" >
    			<div class="col-xs-6" >
    				<address>
    				<strong>Gửi đến:</strong><br>
    				<strong>Họ tên khách hàng:</strong>	{{item.Hoten}}<br>
    				<strong>Số điện thoại:</strong>	{{item.Sdt}}<br>
    				<strong>Địa chỉ:</strong>	{{item.Diachi}}<br>
                    <strong>Email:</strong>   {{item.Email}}<br>
                    <strong>Tổng tiền:</strong>   {{formatCurrency(item.Tongtien)}} VNĐ<br>
                    <strong>Ngày đặt:</strong>
                    {{item.Ngaydat}}<br><br>

					<strong>Đơn vị vận chuyển:</strong>
					<select name="donViVanChuyen" id="donViVanChuyen">
						<option value="dv1">VNPost</option>
						<option value="dv2">J&T Express</option>
						<option value="dv3">Giao Hàng Tiết Kiệm</option>
						
					</select><br><br>
					
    				</address>
    			</div>
    			<!-- <div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					Jane Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div> -->
    		</div>
    		<div class="row">
    			<!-- <div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Visa ending **** 4242<br>
    					jsmith@email.com
    				</address>
    			</div> -->
    			<!-- <div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong>
                        {{item.Ngaydat}}<br><br>
    				</address>
    			</div> -->
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Danh sách sản phẩm</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>

             
        							<!-- <td><strong>Item</strong></td> -->
        							<td ><strong>STT</strong></td>
        							<td ><strong>Mã đơn hàng</strong></td>
                                    <td ><strong>Mã sản phẩm</strong></td>
        							<td ><strong>Tên sản phẩm</strong></td>
                                    <td ><strong>Ảnh </strong></td>
        							<td ><strong>Số lượng</strong></td>
                                    <td ><strong>Giá</strong></td>
        						
        							<td><strong>Tổng tiền</strong></td>

                                </tr>
    						</thead>
    						<tbody  >
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr *ngFor="let item of product;let i = index">
                                    <td>{{i}}</td>
                                    <!-- <td>{{item.Khachhang_id}}</td> -->
                                    <td>{{item.Donhang_id}}</td>
                                   
                      
                                    <td>{{item.Sanpham_id}}</td>
                                    <td>{{item.Tensanpham}}</td>
                                    <td>
                                      <img src="../assets/img/{{item.Anh}}" alt="" style="width: 100px; height: auto;">
                                   
                      
                                    </td>
                                    <td>{{item.Soluong}}</td>
                                    <td>{{formatCurrency(item.Gia)}}đ</td>
                                    <td>{{formatCurrency(item.Tongtien)}}đ</td>
    							</tr>
                                <!-- <tr>
        							<td>BS-400</td>
    								<td class="text-center">$20.00</td>
    								<td class="text-center">3</td>
    								<td class="text-right">$60.00</td>
    							</tr>
                                <tr>
            						<td>BS-1000</td>
    								<td class="text-center">$600.00</td>
    								<td class="text-center">1</td>
    								<td class="text-right">$600.00</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">$670.99</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$15</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">$685.99</td>
    							</tr> -->
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
		<button style="margin-left:1010px ;" class="btn btn-primary float-end" (click)="printInvoice()">In hóa đơn</button>
    </div>
</div>