
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->
        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><a href="#">Giới thiệu</a></li>
                            <!-- <li class="breadcrumb-item active">Xe số</li> -->
                        </ol>
                        <!-- btn -->
                        <a [routerLink]="['/users/index']" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Trở lại </a>

                        <div class="quickview_pro_des">
                            <h4 class="title">Blade 110</h4>
                            <div class="top_seller_product_rating mb-15">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                           
                            <p>Thiết kế mang tính khí động học, phần nhựa ốp gọn và vuốt theo chiều dài giúp xe thanh thoát hơn. Cụm đèn hậu liền khối tạo cảm giác chắc chắn và trẻ trung cho Blade 110.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


      

       

