<div class="container">
    <h2>Sửa khách hàng</h2>
  
    <form #editItemFormsp="ngForm" (ngSubmit)="editItem(editItemFormsp.value.id, editItemFormsp.value.Tenkhachhang,editItemFormsp.value.Ngaysinh,editItemFormsp.value.Sdt, editItemFormsp.value.Diachi, editItemFormsp.value.Email)" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="id"> ID:</label>
        <input type="number" id="id" name="id" [(ngModel)]="category.id" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="Tenkhachhang">Tên khách hàng:</label>
        <input type="text" id="Tenkhachhang" name="Tenkhachhang" [(ngModel)]="category.Tenkhachhang" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="Ngaysinh">Ngày sinh:</label>
        <input type="text" id="Ngaysinh" name="Ngaysinh" [(ngModel)]="category.Ngaysinh" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="Sdt">Sdt:</label>
        <input type="text" id="Sdt" name="Sdt" [(ngModel)]="category.Sdt" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="Diachi">Địa chỉ:</label>
        <input type="text" id="Diachi" name="Diachi" [(ngModel)]="category.Diachi" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" [(ngModel)]="category.Email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
  </div>